/HTML5Application/nbproject/private/
/nbproject/private/
/Callbuc_DialJDBC/nbproject/private/
/Callbuc_DialJDBC/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Callbuuc_Dial/nbproject/private/
/Callbuuc_Dial/build/
/Callbuc_Dial2023/nbproject/private/
/Callbuc_Dial/target/
